%links-header {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.24px;
}

%font {
    font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.42px;
}